<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Asoft\Blog\Api\PostRepositoryInterface"
        type="Asoft\Blog\Model\Api\PostRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_listing_data_source" xsi:type="string">
                Asoft\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Asoft\Blog\Model\ResourceModel\Post\Grid\Collection"
        type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">blog_post</argument>
            <argument name="resourceModel" xsi:type="string"> Asoft\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>


    <type name="Asoft\Blog\Api\PostRepositoryInterface">
        <arguments>
            <argument name="postFactory" xsi:type="object">Asoft\Blog\Model\PostFactory</argument>
            <argument name="postCollectionFactory" xsi:type="object">
                Asoft\Blog\Model\ResourceModel\Post\CollectionFactory</argument>
            <argument name="searchResultsFactory" xsi:type="object">
                Asoft\Blog\Api\Data\PostSearchResultsInterfaceFactory</argument>
            <argument name="collectionProcessor" xsi:type="object">
                Magento\Framework\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>

    <preference for="Asoft\Blog\Api\Data\PostSearchResultsInterface"
        type="Asoft\Blog\Model\Api\PostSearchResult" />

</config>