<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="request_logger" instance="Asoft\EventExample\Observer\RequestLogger" />
    </event>
    <event name="catalog_product_get_final_price">
        <observer name="price_modifier" instance="Asoft\EventExample\Observer\PriceModifier" />
    </event>
</config>